

.wrapper .button{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.wrapper .button:hover{
    width: 200px;  
}

.wrapper .button:hover span{
    display: inline-block;
    margin-left: 30px;
    margin-right: auto;
} 
.wrapper .button:hover div{
    margin-left: 5px;
} 

.wrapper .button:hover .icon{
    display: flex;
    width: 100%;
}

.wrap2:hover .icon2 span{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-out;
}
.wrap2:hover .icon2 div{
    background: red;
    transition: all 0.3s ease-out;
    
}
.wrap2:hover .icon2 {
    transition: all 0.3s ease-out;
    margin-left: auto;
    margin-right: auto;
}


.wrap2:hover {
    width: 150px;
}






















/* .wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

      Hover Effect      */

/* 
.wrapper .button:hover{
    width: 200px;
}






.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}

.wrapper .button .icon span{
    font-size: 25px;
    line-height: 60px;
} 


*/
